*~
*.py[cod]

# Packages
*.egg
*.egg-info
.eggs
__pycache__
dist

# Unit test / coverage reports
.cache
.coverage
.tox
tests/test.db

# doc
docs/_build

# ignore compiled translations
*.mo

# vim swapfiles
.*.sw?
