include *.py
include *.rst
include *.txt
include .editorconfig .dockerignore
include LICENSE
include babel.ini
include pytest.ini
include tox.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include invenio_workflows *.css
recursive-include invenio_workflows *.html
recursive-include invenio_workflows *.js
recursive-include invenio_workflows *.mustache
recursive-include invenio_workflows *.mo
recursive-include invenio_workflows *.po
recursive-include invenio_workflows *.pot
recursive-include invenio_workflows *.py
recursive-include tests *.py
